<%- model_class = Visitor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:ip_address) %></th>
      <th><%= model_class.human_attribute_name(:email_address) %></th>
      <th><%= model_class.human_attribute_name(:referrer) %></th>
      <th><%= model_class.human_attribute_name(:link_item_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= link_to visitor.id, visitor_path(visitor) %></td>
        <td><%= visitor.ip_address %></td>
        <td><%= visitor.email_address %></td>
        <td><%= visitor.referrer %></td>
        <% if visitor.link_item %>
          <td><%= link_to(visitor.link_item.short_name, link_item_path(visitor.link_item)) %></td>
        <% else %>
          <td>Link Removed</td>
        <% end %>
        <td><%=l visitor.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_visitor_path(visitor), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      visitor_path(visitor),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_visitor_path,
            :class => 'btn btn-primary' %>
